<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.gdt.launch.GoalLaunchConfigurationType">
<stringAttribute key="mainScript" value="robot.mod2g"/>
<stringAttribute key="nature" value="org.eclipse.gdt.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BW4T/robot.mod2g"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="BW4T"/>
</launchConfiguration>
